{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <form class="form-horizontal">
        {% csrf_token %}
        {% for c in form %}
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        {{ c.label }}
                        {{ c }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="form-group mb-4">
            <div class="col-sm-12">
                <button class="btn btn-success">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}