{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="border-top-0">Nome</th>
                                <th class="border-top-0">E-mail</th>
                                <th class="border-top-0">Data</th>
                                <th class="border-top-0">Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x in users %}
                                <tr>
                                    <td>{{ x.first_name }} {{ x.last_name }}</td>
                                    <td>{{ x.email }}</td>
                                    <td>{{ x.date_joined }}</td>
                                    <td>
                                        <div class="button-group btn-group-sm">
                                            <a href="{% url 'user:edit_user' x.pk %}" class="btn btn-success"><i class="fas fa-pencil-alt text-white"></i></a>
                                            
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}