{% load static %}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fas fa-clock fa-fw"aria-hidden="true">
                    </i><span class="hide-menu">Novas Corridas</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-font" aria-hidden="true"></i>
                    <span class="hide-menu">Corridas em Andamento</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
                    <span class="hide-menu">Motoristas Cadastrados</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i>
                <span class="hide-menu">Google Maps</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-columns" aria-hidden="true"></i>
                <span class="hide-menu">passageiros Cadastrados</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-table" aria-hidden="true"></i>
                    <span class="hide-menu">Pagamentos</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span class="hide-menu">Feedbacks</span></a>
                </li>
                <li class="text-center p-20 upgrade-btn">
                    <a href="#"
                       class="btn btn-block btn-danger text-white" target="_blank">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>